body {
  background: url("/chess-clone/assets/wallpaper.jpg") no-repeat center center
    fixed;
  background-size: cover;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .stats {
    border: 10px solid;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .moves {
      padding: 20px;
      color: white;
      border: 10px solid;
    }
    .player {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      padding: 20px;
      img {
        width: 55px;
        height: 55px;
        border: 1px solid;
        border-radius: 10px;
        background: white;
      }
    }
  }
  .board {
    display: flex;
    flex-direction: column;
    .rank {
      display: flex;
      .square {
        border: 1px solid;
        padding: 5px;
        min-width: 55px;
        min-height: 55px;
        position: relative;
        .fileLabel {
          position: absolute;
          top: 0;
          left: 1;
        }
        .rankLabel {
          position: absolute;
          bottom: 0;
          right: 0;
        }
        img {
          max-width: 50px;
          max-height: 50px;
          src: "";
        }
      }
      .light {
        background: #96683b;
      }
      .dark {
        background: #663300;
      }
    }
  }
}
